body{
    background-color: rgb(230, 230, 230);
}
div#painel {
    display:block;
    text-align: center;
    width: 440px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 4px;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
}
div#painel h1{
    font: normal 20pt Arial;
    color:rgb(241, 4, 4);
    font-weight: bold;
}
div#res{
    display: block;
    text-align: center;
    border: 1px solid #909090;
    width: 100px;
    margin: auto;
    height: 42px;
    margin-top: 16px;
    background-color: rgb(233, 240, 223);
    font-size: 36px;
    border-radius: 4px;
}
