body{
    background-color: rgb(8, 245, 174);
}
div#painel {
    display:block;
    text-align: center;
}
div#painel h1{
    font: normal 20pt Arial;
    color:rgb(241, 4, 4);
    font-weight: bold;
}
div#res{
    display:block;
    text-align: center;
    border: 1px solid #606060;
    width: 50px;
    margin: auto;
    height: 20px;
    margin-top: 10px;
    background-color: rgb(116, 240, 223);
}